@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5256ad;
}
form{
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0,0, 0, 0.2);
}
label{
    padding: 5px 0;
    font-size: 18px;
    color: #222;
}
.mdp{
    width: 100%;
    position: relative;
}
.mdp input{
    width: 100%;
    font-size: 18px;
    padding: 5px 0;
    padding-left: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}
.mdp i{
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}
.mdp i.active::before{
    content: '\f070';

}