*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password-container{
    padding: 20px;
    flex-direction: column;
    background-color: pink;
    color: white;
    width: 500px;
    /* height: 150px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.input-container{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 24px;
    letter-spacing: 3px;
}
.input::placeholder{
    letter-spacing: 0px;
}
.fa-copy{
    cursor: pointer;
    opacity: .3;
    color: black;
    transition: 0.5s;
}
.fa-copy:hover{
    opacity: .7;   
}
.btn{
    background-color: black;
    color: white;
    border: none;
    padding:  10px 20px;
    margin: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}
.btn:hover{
    background-color: green;
}
.btn:active{
    transform: scale(0.80);
}
.alert-container{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: cadetblue;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.5s;
}
.active.alert-container{
    right: -300px;
}